:root {
  --main-color: #6466f1;
  --font: 'Heebo', sans-serif;
  --background: url('/img/3.jpg');
}

body {
  font-family: var(--font);
  color: var(--main-color);
  background: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.custom-button {
  color: black !important;
  /* משנה את הצבע של האייקון והטקסט */
  border-color: red !important;
  /* אם צריך לשנות גם את צבע המסגרת */
}

/* דוגמה לכפתורים */
.p-button {
  background-color: var(--main-color);
  color: black !important;
  background-color: rgb(2, 248, 166) ;
  font-family: var(--font);
  font-weight: bold;
}